{% extends "base.html" %}
{% load static %}
{% block content %}

     <div style="margin-top: 80px;">
        <div class="card bg-light mb-3">
        <div class="card-header">
          <h5></h5>
        </div>
          <div class="card-body">
            <form action="." method="post">
            <div class="form-group">
                <label for="exampleInputLogin">Логин</label>
                <input type="text" class="form-control" name="username" required id="exampleInputLogin" placeholder="Введите логин">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword">Пароль</label>
                <input type="password" class="form-control" name="password" required id="exampleInputPassword" placeholder="Введите пароль">
            </div>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
          </div>
      </div>
    </div>

{% endblock %}